/* Custom css for this project */

.basic-tools,
.advanced-options {
  padding-top: 4em;
  img {
    margin-bottom: 2em;
  }
}

.center {
  text-align: center;
}

.align-left {
  text-align: left;
}

h4 {
  text-transform: uppercase;
}

.row {
  margin-bottom: 3em;
}

.red {
  color: red;
}